# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# IDE / OS
.DS_Store
.idea/
.vscode/

# QGIS / Qt
*.qgs~
*.qgz~
*.qml~
*.sld~
*.aux.xml
*.tfw
*.wld
*.ovr


# Node / web tooling (if you add later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


README_LOCAL.md
